.textEditInput {
    position: relative;
    box-sizing: content-box;
    background: none;
    border: 1px solid black;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 16.5px 14px;
}

.textEditor {
    font: inherit;
    letter-spacing: inherit;
    box-sizing: content-box;
    min-width: 0;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    color: currentColor;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    padding: 0;
}

.textEditorActions {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem ;

    .toolsList {
    }

    > button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.4s;
        &:hover {
            border-color: #646cff;
        }
        &:focus,
        &:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }
    }
}

.toolsBtn {
    margin-right: 0.4rem;
    background-color: transparent;
    border: none;
}

.read-the-docs {
    color: #888;
}

.textEditorError {
    display: block;
    position: absolute;
    top: 100%;
    color: red;
}