.editor {
    margin-top: 16px;
    margin-bottom: 8px;
}

.wrapperEditor {
    outline: 1px solid rgb(206, 212, 218);
    border-radius: 3px;
    box-sizing: content-box;
    color: var(--black);

    &.wrapperEditor--focused {
        outline: 2px solid var(--blue-mui);
    }

    &.wrapperEditor--focused .wrapperError--error {
        outline: 2px solid var(--red-mui);
    }

    &.wrapperError--error {
        outline: 1px solid var(--red-mui);
    }
}

.fieldEditor {
    font-size: 1rem;
    letter-spacing: 0.00938em;
    font-weight: 400;
    color: currentColor;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4375em;
    padding: 11px 14px;
}

.rdw-editor-toolbar {
    padding: 5px 0;
    margin: 0;
    background-color: var(--black-005);
}

.public-DraftStyleDefault-block {
    margin: 0;
}

.rdw-inline-wrapper , .rdw-list-wrapper, .rdw-link-wrapper, .rdw-history-wrapper, .rdw-embedded-wrapper {
    margin: 0;
}

.rdw-option-wrapper {
    border: none;
    margin: 0;
    padding: 0 10px;
    min-height: 30px;
    border-right: 4px;
    transition: background-color .2s ease-out 0s;
    background: none;

    &:hover, &:active {
        box-shadow: none;
        background-color: rgba(206, 212, 218, .5);
    }
}

.rdw-option-disabled {
    background-color: #ece9e9 !important;
    cursor: default !important;

    &:hover {
        background-color: #ece9e9 !important;
    }
}

.rdw-link-modal-btn, .rdw-dropdown-wrapper {
    width: auto;
    height: auto;
    border: none;
    margin: 0;
    transition: background-color .2s ease-out 0s;
    background: none;
    padding: 5px 10px;
    position: relative;

    &:hover, &:active {
        box-shadow: none;
        background-color: rgba(206, 212, 218, .5);
    }

    &:disabled {
        background-color: #ece9e9;
        color: darkgrey;
        cursor: default;

        &:hover {
            background-color: #ece9e9;
        }
    }

    &:first-child {
        margin-right: 5px;
    }
}

.rdw-dropdown-wrapper {
    padding: 5px 18px 5px 8px;
}

.rdw-fontsize-wrapper {
    margin: 0;
}

.rdw-dropdown-optionwrapper {
    position: absolute;
    left: 0;
}

.rdw-dropdown-carettoopen,.rdw-dropdown-carettoclose  {
    right: -8px;
}

.rdw-option-active {
    box-shadow: none;
    background-color: rgba(206, 212, 218, .8);
}

.public-DraftStyleDefault-ul, .public-DraftStyleDefault-ol {
    margin: 5px 0;
}

.rdw-link-modal {
    height: auto;
}

.public-DraftEditorPlaceholder-hasFocus {
    > .wrapperEditor {
        border: 2px solid var(--blue-mui);
    }
}