@import 'fonts.css';


:root {
  --max-width: 1360px;
  --border-radius: 12px;

  --black: #333333;
  --black-08: #5A5A5A;
  --black-05: #949494;
  --black-02: #D6D6D6;
  --black-06: #e1e1e1;
  --black-005: #F5F5F5;

  --white: #FFFFFF;

  --blue: #3E77AA;
  --blue-mui: #1976d2;

  --red: #FF2F00;

  --green: #359D3F;

  --errorv1: #F04438;
  --errorv2: #FDA29B;

  --fz-text14: 14px;
  --fz-text16: 16px;
  --fz-text18: 18px;

  --fz-title20: 20px;
  --fz-title28: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: var(--fz-text16);
  margin: 0;
  font-weight: 400;
}

body {
  color: var(--black);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

a:not {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 64px;
}

/*[class*="container"] {*/
/*  max-width: var(--max-width);*/
/*  margin: 0 auto;*/
/*  padding: 0 20px;*/
/*  flex-direction: column;*/
/*}*/

/*@media (max-width: 767.98px) {*/
/*  [class*="container"] {*/
/*    padding: 0 12px;*/
/*  }*/
/*}*/
