.wrapperEditor {
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    /*padding: 16.5px 14px;*/
}

.fieldEditor {
    font-size: 1rem;
    letter-spacing: 0.00938em;
    font-weight: 400;
    color: currentColor;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4375em;
    padding: 11px 14px;
}

.toolbarEditor {
    display: flex;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 6px;
}

.public-DraftStyleDefault-block {
    margin: 0;
}
